header {
    background:$primaryDark;
    // border:1px solid red;
    height:100vh;
    z-index:100;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    align-items: center;
    transition:height 1s ease-in-out;
    // display:none;
    .wrapper {
        width:100%;
        // border:1px solid pink;
        display:flex;
        justify-content: center;
        align-items: center;
        .OW__Logo.shrink {
            width:5%;
        }
        .input__bar--text {
            display:none;
            // border:1px solid red;
            opacity:0;
            width:0px;
            transition:width 0.5s;
        }
        .input__bar.show {
            display:block;
            background:none;
            border:none;
            border-bottom:3px solid $white;
            padding:10px 30px 8px 0;
            margin:0 20px;
            // color:$white;
            width:100%;
            opacity:1;
            text-transform: uppercase;
        }
        .input__submit {
            display:none;
        }
    }
}
.input__bar {
    color:$white;
}
.search__wrapper {
    width:50%;
    display:none;
    .input__bar--search {
        border:none;
        border-bottom:3px solid $white;
        width:100%;
    }
}
header.fixed {
    height:10vh;
    background:none;
    .wrapper {
        justify-content: flex-start;
        padding:20px 0 0 15px;
        // border:1px solid cyan;
    }
    h1 {
        display:block;
        opacity:1;
        width:100%;
        margin:0 20px;
        text-transform: uppercase;
    }
    .search__wrapper {
        display:block;
        margin-left:20px;
    }
}