main {
    margin-top:100px;
    display: grid;
    grid-template-columns: 0.9fr 2fr;
    grid-gap: 20px;
    .hero__container {
        background:rgba(0,0,0,0.5);
        // border:1px solid cyan;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:2fr 1fr;
        grid-auto-flow: dense;
        height:85vh;
        position: relative;
        @include breakPoint(third-break) {
            height:100%;
        }
         @include breakPoint(fourth-break) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
        }
        @include breakPoint(fifth-break) {
            grid-template-rows: 1fr 1fr 1fr;
        }
        .hero__image {
            // border:1px solid white;
            z-index:50;
            perspective: 1000px;
            position:relative;
            left:50%;
            &:hover img {
                transform: rotateY(-10deg);
                transition: transform 1s ease;
            }
            @include breakPoint(first-break) {
                position:fixed;
                width:40%;
                left:45%;
            }
            @include breakPoint(second-break) {
                width:45%;
                left:40%;
            }
            @include breakPoint(third-break) {
                // display:none;
                width:40%;
            }
            @include breakPoint(fourth-break) {
                position:relative;
                // left:30%;
                grid-row:1;
                width:70%;
                left:10%;
            }
        }
        .hero__info {
            // border:1px solid yellow;
            padding:30px;
            height:100%;
            list-style:none;
            text-align: right;
            position:absolute;
            top:0;
            width:100%; 
            @include breakPoint(fourth-break) {
                height:100%;
            } 
            @include breakPoint(fifth-break) {
                position: relative;
                height:auto;
            }
            .location {
                animation:flash 3s infinite;
                transition:all 0.5s;
                color:$accentDark;
                &:hover {
                    color:$white;
                    animation:revflash 3s infinite;
                }
            }
            li {
                z-index:60;
                @include paragraph-styles(1.8);
                @include breakPoint(fifth-break) {
                    @include paragraph-styles(1.4)
                }
                // border:1px solid cyan;
            }
            li span {
                // border:1px solid orange;
                position: absolute;
                left:20px;
                font-family: "Big Noodle Too";
                line-height:1;
                @include title-styles(2.75);
                @include breakPoint(fifth-break) {
                    @include title-styles(2);
                }
                }
        }
        #map {
            grid-row-end:-1;
            grid-column:1 / -1;
            height:auto;
            width:100%;
            @include breakPoint(third-break) {
                width:100%;
                grid-column:1 / -1;

            }
        }
    }
    @include breakPoint(fourth-break) {
        // border:1px solid red;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr;
    }
}

.hero__container.show {
    background: radial-gradient(rgba(0,0,0,0.5), transparent), url(../../assets/NepalBG.jpg) no-repeat;
    background-size:cover;
    .hero__info {
        background:rgba(0,0,0,0.3);
    }
}

aside {
    border:1px dotted $logoGrey;
    // border:1px solid cyan;
    background:rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.4fr 2fr;
    grid-auto-rows: min-content;
    grid-gap: 5px;
    height:85vh;
    .search__results__heading {
        // border:1px solid red;
        background:$logoGrey;
        align-items: center;
        justify-content: center;
        display:none;
        text-align: center;
    }
    .search__results__heading.show {
        display:flex;
    }
    .search__results__card {
        display:none;
    }
    .search__results__card.show {
        display:block;
        background:rgba(0,0,0,0.7);
        transition:background 1s;
        &:hover {
            // border:1px solid $accentDark;
            background:rgba(0,0,0,0.3);
            h4 {
                color:$white;
            }
        }
    }
    .hero__card__heading {
        background:$logoGrey;
        text-align: center;
        // border:1px solid red;
        grid-row-start:4;
    }
    @include breakPoint(third-break) {
        grid-template-rows: 100px 100px;
        height:100%;
    }
    @include breakPoint(fourth-break) {
        height:35vh;
    }
}

.hero__card {
    @include breakPoint(fourth-break) {
        display:none;
    }
}

.search__wrapper {
    width:100%;
    height:100%;
    margin-top:5px;
    .search__container {
        // border:1px solid red;
        height:100%;
        padding:5px;
        padding-left:0;
        display: flex;
        justify-content: space-between;
        @include breakPoint(third-break) {
            flex-flow:column;
            align-items:center;
        }
    }
    .input__bar--search {
        // border:none;
        border:2px solid $white;
        width:70%;
        margin:0 5px;
        &:focus {
            border-bottom:3px solid $accentDark;
        }
        @include breakPoint(third-break) {
            text-align: center;
            width:75%;
        }
        @include breakPoint(fourth-break) {
            width:90%;
        }
    }
    .input__submit {
        width:30%;
        background:none;
        color:$white;
        border:2px solid $accentDark;
        transition:background 0.3s ease-in-out;
        padding:10px;
        &:hover {
            background:$accentDark;
            
        }
        @include breakPoint(third-break) {
            width:85%;
        }
        @include breakPoint(fourth-break) {
            width:95%;
        }
    }
}