$nunito: 'Nunito Sans', sans-serif;

@mixin title-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue) * 1rem;
    font-family: $secondaryFont;
}
@mixin paragraph-styles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue) * 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height:1.5;
}

@font-face {
    font-family: "Big Noodle Too";
    src: url(../../Font/big_noodle_titling.ttf) format("truetype");
}

h3 {
    @include title-styles (3);
    font-family: "Big Noodle Too";
    letter-spacing: 2px;
}
h4 {
    @include title-styles (1.5);
    font-family: $nunito;
    text-transform: uppercase;
    color: $accentDark;
    padding: 5px 0 0 5px;
}