$white: white;
$primaryDark: #405275;
$secondaryDark: #218ffe;
$accentDark: #fc9e00;
$logoGrey: #484848;

$secondaryFont: 'Big Noodle Too';

@mixin breakPoint($point) {
    @if $point == first-break {
        @media (max-width:1300px) { @content;}
    }
    @if $point == second-break {
       @media (max-width:1240px) { @content;}
    }
    @if $point == third-break {
       @media (max-width:1090px) { @content;}
    }
    @if $point == fourth-break {
       @media (max-width:900px) { @content;}
    }
    @if $point == fifth-break {
       @media (max-width:750px) { @content;}
    }
      @if $point == sixth-break {
       @media (max-width:600px) { @content;}
    }
      @if $point == seventh-break {
       @media (max-width:450px) { @content;}
}
}


@keyframes slowfill {
    0% {
        fill:$white;
    }
    100% {
        fill:$logoGrey;
    }
}

@keyframes colourpop {
    0% {
        fill:$white;
    }
    100% {
        fill:$accentDark;
    }
}

@keyframes flash {
    0% {
        text-shadow:none;
    }
    25% {
        text-shadow:2px 2px 2px $accentDark;
    }
    50% {
        text-shadow:none;
    }
    100% {
        text-shadow:2px 2px 2px $accentDark;
    }
}

@keyframes revflash {
      0% {
        text-shadow:none;
    }
    25% {
        text-shadow:2px 2px 2px $white;
    }
    50% {
        text-shadow:none;
    }
    100% {
        text-shadow:2px 2px 2px $white;
    }
}
