@import 'setup';
@import 'utils';
@import 'header';
@import 'footer';


body {
    // background:pink;
}

input[type=search] {
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:1px solid grey;
    background:transparent;
    padding:10px;
}